.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
	& .backgroundImage {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1457px;
		height: auto;
		z-index: -1;
	}
	& .cancelButton {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 12px;
		left: 12px;
		width: 32px;
		height: 32px;
		border-radius: 10px;
		box-shadow: 0px 3px 6px 0px rgba(31, 31, 31, 0.05);
		backdrop-filter: blur(50px);
		background: rgba(17, 49, 93, 0.1);
		border: 1px solid rgba(34, 106, 205, 0.5);
		cursor: pointer;
	}
	& .card {
		position: relative;
		max-width: 384px;
		width: 100%;
		padding-block: 40px;
		padding-inline: 32px;
		border-radius: 20px;
		border: 1px solid transparent;
		background:
			linear-gradient(rgba(255, 255, 255, 1)) padding-box,
			linear-gradient(
					to left bottom,
					rgba(34, 106, 205, 0.2),
					rgba(34, 106, 205, 0.5),
					rgba(34, 106, 205, 0.2),
					rgba(34, 106, 205, 0.8)
				)
				border-box;
		box-shadow: 0px 5px 20px 0px rgba(0, 99, 233, 0.05);
		& .cardHeader {
			display: flex;
			justify-content: center;
			margin-bottom: 16px;
		}
	}
}
