.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: start;
	& .warning {
		display: flex;
		gap: 4px;
		align-items: center;
		padding: 5px 10px 5px 8px;
		background: rgba(255, 88, 50, 0.1);
		border-radius: 60px;
		color: rgba(255, 88, 50, 1);
		font-size: 0.75rem;
		letter-spacing: -0.01em;
		line-height: 1.2;
	}
	& .strengthIndicator {
		margin-top: 4px;
		display: flex;
		gap: 10px;
		flex-direction: column;
		& .ruleItem {
			display: flex;
			align-items: center;
			gap: 4px;
			& .ruleText {
				font-size: 0.75rem;
				letter-spacing: -0.01em;
				line-height: 1.2;
			}
			&.ruleMet .ruleText {
				color: rgba(17, 49, 93, 0.7);
			}
			&.ruleNotMet .ruleText {
				color: rgba(255, 88, 50, 1);
			}
		}
	}
}
