.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	gap: 32px;
	& .header {
		display: flex;
		flex-direction: column;
		align-items: center;
		& .cardTitle {
			color: rgba(17, 49, 93, 1);
			font-size: 28px;
		}
		& .cardSubtitle {
			color: rgba(17, 49, 93, 0.7);
			font-size: 14px;
			margin-top: 9px;
		}
	}
	& .agreement {
		color: rgba(17, 49, 93, 0.5);
		font-size: 0.75rem;
		line-height: 1.2;
		text-align: center;
		width: 240px;
		align-self: center;
		& span {
			text-decoration: underline;
		}
	}
	& .footer {
		display: flex;
		justify-content: center;
		span {
			color: rgba(17, 49, 93, 0.5);
			font-size: 0.875rem;
		}
		& span.link {
			color: rgba(61, 130, 222, 1);
			font-size: 0.875rem;
			letter-spacing: -0.02em;
			cursor: pointer;
		}
		font-size: 0.875rem;
	}
	& .stepOneForm {
		display: flex;
		flex-direction: column;
		gap: 24px;
		& .passwordStrengthIndicator {
			margin-top: 8px;
		}
		& .buttonsContainer {
			display: flex;
			gap: 12px;
		}
	}
	& .stepTwoForm {
		display: flex;
		flex-direction: column;
		gap: 24px;
		& .textWrapper {
			display: flex;
			flex-direction: column;
			gap: 8px;
			& .text {
				font-size: 0.875rem;
				line-height: 1.2;
				color: rgba(17, 49, 93, 0.7);
			}
			& .email {
				font-size: 0.875rem;
				line-height: 1.2;
				color: rgba(17, 49, 93, 1);
			}
		}
	}
	& .stepThreeForm {
		display: flex;
		flex-direction: column;
		gap: 24px;
		& .imageUploader {
			align-self: center;
		}
		& .inputContainer {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
		& .buttonsContainer {
			display: flex;
			gap: 12px;
		}
	}
}
