.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	gap: 32px;
	overflow: auto;
	@media (width < 480px) {
		gap: 24px;
	}
	& .header {
		display: flex;
		flex-direction: column;
		align-items: center;
		& .cardTitle {
			color: rgba(17, 49, 93, 1);
			font-size: 28px;
		}
		& .cardSubtitle {
			color: rgba(17, 49, 93, 0.7);
			font-size: 14px;
			margin-top: 9px;
		}
	}
	& .signInContainer {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	& .separator {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		p {
			color: rgba(17, 49, 93, 0.5);
			font-size: 0.875rem;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 43%;
			height: 2px;
			background-color: rgba(34, 106, 205, 0.2);
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
	& .agreement {
		color: rgba(17, 49, 93, 0.5);
		font-size: 0.75rem;
		line-height: 1.2;
		text-align: center;
		width: 240px;
		align-self: center;
		& span {
			text-decoration: underline;
		}
	}
	& .footer {
		display: flex;
		justify-content: center;
		span {
			color: rgba(17, 49, 93, 0.5);
			font-size: 0.875rem;
		}
		& span.link {
			color: rgba(61, 130, 222, 1);
			font-size: 0.875rem;
			letter-spacing: -0.02em;
			cursor: pointer;
		}
		font-size: 0.875rem;
	}
}
