
html {
	height: 100dvh;
	display: flex;
	background: rgba(241, 241, 241, 1);
}
html body {
	width: 100%;
	display: flex;
   font-family: var(--font-twklausanne), Arial, Helvetica, sans-serif;
	padding: 10px 8px;
	@media (width < 480px) {
		padding: 0;
	}
}

html * {
	padding: 0;
	margin: 0;
	line-height: 1.15;
	letter-spacing: -0.02em;
	box-sizing: border-box;
}
.main {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 14px;
	height: 100%;
	width: 100%;
	@media (width < 480px) {
		padding: 16px;
		border: 0px;
	}
}

html a {
	text-decoration: none;
	color: rgba(61, 130, 222, 1);
	font-size: 0.875rem;
	letter-spacing: -0.02em;
}
