.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	@media (width < 480px) {
		padding-right: 6px;
	}
	& .header {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		& .cardSubtitle {
			color: rgba(17, 49, 93, 0.7);
			font-size: 14px;
			margin-top: 9px;
		}
		& .googleAuthButton {
			margin-top: 32px;
			@media (width < 480px) {
				margin-top: 24px;
			}
		}
	}
	& .separator {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 24px;
		p {
			color: rgba(17, 49, 93, 0.5);
			font-size: 0.875rem;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 43%;
			height: 2px;
			background-color: rgba(34, 106, 205, 0.2);
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
		@media (width < 480px) {
			margin-top: 16px;
		}
	}
	& .cardFooter {
		margin-top: 32px;
		display: flex;
		justify-content: center;
		font-size: 0.875rem;
		@media (width < 480px) {
			margin-top: 24px;
		}
		span {
			color: rgba(17, 49, 93, 0.5);
			font-size: 0.875rem;
		}
	}
}
