.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;

	& .header {
		display: flex;
		flex-direction: column;
		align-items: center;
		& .cardTitle {
			color: rgba(17, 49, 93, 1);
			font-size: 28px;
			font-weight: 500;
		}
		& .cardSubtitle {
			color: rgba(17, 49, 93, 0.7);
			font-size: 14px;
			margin-top: 9px;
		}
		& .googleAuthButton {
			margin-top: 32px;
		}
	}
	& .separator {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 24px;
		p {
			color: rgba(17, 49, 93, 0.5);
			font-size: 0.875rem;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 43%;
			height: 2px;
			background-color: rgba(34, 106, 205, 0.2);
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
	& .cardFooter {
		margin-top: 32px;
		display: flex;
		justify-content: center;
		span {
			color: rgba(17, 49, 93, 0.5);
			font-size: 0.875rem;
		}
		font-size: 0.875rem;
	}
}
