.googleAuthButton {
	width: 100%;
	padding-block: 10px;
	padding-inline: 12px;
	border-radius: 10px;
	background: none;
	border: 1px solid rgba(53, 89, 137, 0.2);
	text-decoration: none;
	color: rgba(17, 49, 93, 0.8);
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: -0.02em;
	display: flex;
	justify-content: center;
	gap: 6px;
	cursor: pointer;
}