.verification {
	display: flex;
	flex-direction: column;
	gap: 24px;
	& .textWrapper {
		display: flex;
		flex-direction: column;
		gap: 8px;
		& .text {
			font-size: 0.875rem;
			line-height: 1.2;
			color: rgba(17, 49, 93, 0.7);
		}
		& .email {
			font-size: 0.875rem;
			line-height: 1.2;
			color: rgba(17, 49, 93, 1);
		}
	}
}
