.button {
	position: relative;
	width: 100%;
	padding-inline: 24px;
	padding-block: 10px;
	border: none;
	border-radius: 10px;
	text-decoration: none;
	font-size: 1rem;
	letter-spacing: -0.02em;
	display: flex;
	justify-content: center;
	line-height: 1;
	cursor: pointer;
	min-height: 36px;
	&.primary {
		background-image: radial-gradient(at 50% 200%, rgba(186, 215, 255, 1) 10%, rgba(33, 70, 120, 1) 90%);
		color: #fff;
	}
	&.secondary {
		background: rgba(17, 49, 93, 0.1);
		color: rgba(17, 49, 93, 1);
		box-shadow: 0px 4px 15.800000190734863px 0px rgba(0, 0, 0, 0.02);
	}
	& .spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		animation: spin 1.5s linear infinite;
	}
}

@keyframes spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}